// variables
$light-gray : #f2f2f2;
$brown : #d9bf8f;

// Normalize

*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-family: 'Bahnschrift';
}

ul>li {
    list-style: none;
    display:inline-block;
    margin: 0 10px;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: 90%;
    margin: 0 auto;
}

.features , .show , .goods , .brands {
    margin: 60px 0;
}
// General classes

.column {
    > li {
        display: block;
    }
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;

}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
} 

.align-items-center {
    align-items: center;
}

.upper-case {
    text-transform: uppercase!important;
}

.text-center {
    text-align: center;
}

.btn {
    border-radius: 0;
    border: none;
    font-size: 1.2em;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-black {
    background-color: #000;
}

.btn-orange {
    background-color: #f09d66;
}

@for $i from 11 through 19 {
    $o : $i - 10;
    $p : $i/10;
    .em-1-#{$o} {
        font-size: #{$p}em;
    }
}

.em-2 {
    font-size: 2em;
}

.text-black {
    color: #000!important;
}

.text-white {
    color: #fff!important;
}

.text-gray {
    color: #7f7e7e!important;
}

.font-weight-bold {
    font-weight: bold;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    >h2 {
        display: inline-block;
        margin:20px;
    }
    >svg {
        transform: rotateZ(45deg);
        color: $brown;
    }
    &::before {
        content: '';
        display: inline-block;
        max-width:30%;
        min-width: 10%;
        height: 1px;
        margin-bottom: 5px;
        margin-right: 10px;
        background-color: $light-gray;
    }
    &::after {
        content: '';
        display: inline-block;
        max-width:30%;
        min-width: 10%;
        height: 1px;
        margin-bottom: 5px;
        margin-left: 10px;
        background-color: $light-gray;
    }
}

.d-block {
    display: block;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.align-items-end {
    align-items: flex-end;
}
// Top bar 

.top-bar {
    background-color: $light-gray;
    padding: .5em 0;
    .call {
        > svg {
            margin-right: 1em;
        }
    }
}

.pages {
    >ul {
        >li {
            &:not(.last)::after {
                content: "";
                display: inline-block;
                width: 2px;
                height: 12px;
                margin-left: 20px;
                background-color: #000;
            }
        }
    }
}

// Nav

nav.main {
    margin: 10px;
    .icons>svg {
        font-size: 1.2em;
        padding: 5px;
        margin: 10px;
    }
    .extra {
        display: flex;
    }
}

// content
.content {
    position: relative;
    >.slider {
        position: relative;
        overflow: hidden;
        min-height: 645px;
        >img {
            position: absolute;
            z-index: -1;
            width:100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }
    }
    >.box-sale {
        position: absolute;
        margin:auto;
        text-align: center;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        >.context {
            margin-bottom: 70px;
            border: 1px solid #fff;
            position: relative;
            padding: 0 30px;
            &::after {
                content: '';
                display: block;
                width: 110%;
                height: 110%;
                position: absolute;
                border: 1px solid #fff;
                top: -5%;
                left: -5%;
            }
            span {
                display:block;
                color: #fff;
                margin:10px;
            }
        }
        >.balls {
            margin-top:150px;
            >svg {
                margin:10px;
                transform: rotateZ(45deg);
                font-size: .8em;
            }
            >svg:not(.active) {
                color: #b2b2b2;
            }
        }
    }
}

// Features

.features {
    >.container>.content {
        >.feature {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            color: #fff;
            text-align: center;
            > .context {
                >.icon {
                    margin: 10px;
                    >svg {
                        font-size: 3rem;
                    }
                }
                >.text {
                    >h4 {
                        font-size: 1.4rem;
                    }
                }
                >.icon,>.text {
                    display:inline-block;
                    margin-top: 20px;
                }
            }
        }
        @for $i from 1 through 3 {
            >.feature:nth-child(#{$i}) {
                background-image: url(../images/bg_#{$i}.png);
            }
        }
    }
}

// Show

.show {
    .content {
        >.boxes {
            align-items: start;
            .group{
                width: 33%;
                >div{
                    overflow: hidden;
                    margin: 10px;
                    position: relative;
                    >img {
                        width: 100%;
                    }
                    .border {
                        position: absolute;
                        width: 90%;
                        height: 90%;
                        border: 1px solid #ffffff;
                        top: 5%;
                        left: 5%;
                    }
                }
                >.item2 {
                    .border {
                        height: 75%;
                    }
                }
            }
        }
    }
}

// Goods

.goods {
    >.container>.content{
        >.boxes {
            display: flex;
            flex-wrap: wrap;
            width:100%;
            >.product {
                width: 300px;
                position: relative;
                margin: 20px 0;
                >.semi-btn {
                    position: absolute;
                    bottom: 4px;
                    left: 50%;
                    transform: translate(-50%);
                    background-color: #000;
                    &::before {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        left: 99%;
                        top: 0%;
                        border-left: 21.5px solid #000;
                        border-bottom: 21.5px solid #000;
                        border-top: 21.5px solid transparent;
                        border-right: 21.5px solid transparent;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        right: 99%;
                        top: 0%;
                        border-right: 21.5px solid #000;
                        border-bottom: 21.5px solid #000;
                        border-top: 21.5px solid transparent;
                        border-left: 21.5px solid transparent;
                    }
                }
            }
        }
    }
}

// Brands

.brands {
    .boxes {
        margin: 30px 0;
        flex-wrap: wrap;
        > .brand {
            margin: 30px 0;
            width: 250px;
            text-align: center;
        }
    }
}

// Say

.opinions {
    >.content {
        position: relative;
        padding: 3em 0;
        >img {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        >.container>.context {
            flex-wrap: wrap;
            margin-bottom: 40px;
            .box:nth-child(2){
                .say{
                    .art , .info {
                        direction: rtl;
                    }
                }
            }
            .art {
                margin: 5px;
                margin-bottom: 50px
            }
            .info {
                line-height: 1.5;
                font-size: 1.3em;
            }
        }
    }


}

// Footer

footer {
    background-color: #141414;
    padding-top: 50px;
    h4 {color: #fff;}
    li a {
        color: #737373;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .flex {
        flex-wrap: wrap;
        > div {
            margin: 1em 0;
        }
    }
    .contact {
        .stay-con {
            > svg {
                font-size:2em;
                color: #fff;
                margin: 20px;
            }
        }
        .subs {
            > input {
                border: none;
                padding:15px;
            }
            > input , > button {
                margin-top: 15px;
            }
        }
    }
    > p {
        padding: 2em;
        color: #fff;
        text-align: center;
        background-color: #000;
        margin-top: 2em;
    }
}

@import 'media';